<div class="services-page">

  <!-- PAGE HEADER -->
  <section class="page-header">
    <h1>Our Services</h1>
    <p>
      Everything PayNest offers to make bill payments faster, smarter,
      and stress-free.
    </p>
  </section>

  <!-- SERVICES GRID -->
  <section class="services-list">

    <div class="service-card">
      <img src="assets/1.png" loading="lazy"  alt="Not supported" />

      <h3>Bill Aggregation</h3>
      <p>
        View and manage all your utility and loan bills in one secure place
        using your TRN.
      </p>
    </div>

    <div class="service-card">
       <img src="assets/2.png" loading="lazy"  alt="Not supported" />
      <h3>Instant Payments</h3>
      <p>
        Make fast, secure payments for electricity, water, internet,
        and financial services.
      </p>
    </div>

    <div class="service-card">
       <img src="assets/3.png" loading="lazy"  alt="Not supported" />
      <h3>Payment History</h3>
      <p>
        Access detailed records of your past transactions and download
        receipts anytime.
      </p>
    </div>

    <div class="service-card">
       <img src="assets/4.png" loading="lazy"  alt="Not supported" />
      <h3>Smart Reminders</h3>
      <p>
        Receive timely reminders so you never miss a due date again.
      </p>
    </div>

  </section>

</div>
